@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

nav{
    background-color: #fff;
    padding-block: 1rem;
}

.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gen-layout{
    max-width: 1100px;
    margin: auto;
}

.nav-content > h1{
    text-transform: capitalize;
    font-size: 1.7rem;

}

.nav-content >h1 > span{
    color: red;
}

.nav-right{
    width: 800px;
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-items > a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: capitalize;
}

.nav-items >a:nth-child(1){
    color: #467c7f;
    font-weight: 100;
}

.btn-btn{
    padding: .7rem 1rem;
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
    background-color: #034e52;
    color: white;
}


/* styling for hero section*/
.hero-sec{
    background: linear-gradient(90deg, #f3f7f7 65%, #034e52 35%);
}
.hero{
    display: flex;
    gap: 4rem;
    align-items: center;
}

.hero-content > h1{
    font-size: 2.5rem;
    width: 400px;
}

.hero-content > p{
    margin: .6rem 0 2rem;
    font-weight: 600;
}

.hero-btn{
    display: flex;
    gap: 1rem;
}

.hero-btn > button:last-child{
    background-color: transparent;
    border: 1px solid #467c7f;
    color: #467c7f;
}

.hero-image{
    height: 70vh;
    width: 30%;
}

.hero-image >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* services styling*/


.selecting-input-option{
  background-color: #fff;
  box-shadow: 2px 3px 3px #f6f6f6;
  padding: 1rem;
  max-width: 750px;
  margin: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}
select {
    background-color: #f2f6f6;
    border: none;
    padding: 0.4rem;
    width: 200px;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 2px;
}

.search-input{
    border-radius: 4px;
    background-color: #f2f6f6;
    border: 1px solid #034e52;
    width: 500px;
    display: flex;
    align-items: center;
}

.search-input > input{
    padding: .4rem .6rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.search-input > input::placeholder{
    text-transform: capitalize;
}

.selecting-input-option > button{
    background-color: #034e52;
    border-radius: 7px;
    border: none;
    padding: .4rem 1rem;
    color: #fff;
    text-transform: capitalize;
}

.service-card-wrapper{
    margin-block: 3rem;
    display: flex;
    justify-content: space-between;
}

.service-card{
    padding-inline: 1rem;
    padding-block: 1.5rem;
    width: 20%;
    background-color: #fff;
    box-shadow: .2rem .1rem .3rem #f4f4f4;
    border-radius: 15px;
}

.service-card:nth-child(2){
    background-color: #034e52;
    color: white;
}

.service-card > span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #f2f6f6;
}

.service-card > h2{
    text-transform: capitalize;
    font-size: 22px;
    text-align: center;
}

.service-card > p{
    font-size: 15px;
    text-align: center;
    margin-block: 0.6rem;
}